<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            background-color: antiquewhite;
            color:cornflowerblue; 
        }
    </style>
    <title>Drinks App</title>
</head>
<body>
    <h1>Welcome to gitPub!</h1>
    
    <% for (let i=0; i < allDrinks.length; i++) { %>
        <ul>
         <!-- To capitilize the first leter I googled and found online that I could use ".replace(/\w/, c=> c.toUpperCase())" but I had to play around with the code a bit since some of the drinks were in all CAPS. -->
            <%=allDrinks[i].name.toLowerCase().replace(/\w/, c => c.toUpperCase())%>

        </ul>
        <%}%>
</body>
</html>